#movies img, #movie img{
  width:100%;
}

.imdb{
  background:#F5C518;
  color:black;
}

@media(min-width:960px){
  #movies .col-md-3 .well{
    height: 400px;
  }

  #movies .col-md-3 img{
    height:290px;
  }
}
